<a href="https://colab.research.google.com/github/sylvas-j/ML/blob/master/Amanda_technical_skills.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Amanda teschnical skills set found from raw dataset

## Import relevant libraries

In [ ]:
from pandas import DataFrame
import pandas as pd
import numpy as np
import seaborn as sns
from google.colab import drive

## Connect colab to google drive to access dataset

In [ ]:
# mounting drive to colab
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/hw_saver_llc_test/Raw_Skills_Dataset.csv")
skills_data = pd.read_csv("/content/drive/My Drive/Colab Notebooks/hw_saver_llc_test/Example_Technical_Skills.csv")

In [ ]:
data.head()

          RAW DATA
0         What ifs
1        seniority
2      familiarity
3  functionalities
4          Lambdas

In [ ]:
skills_data.head()

                       Technology Skills
0                    SAP Fiori Developer
1  Oracle Instance Management & Strategy
2           Boomi Master Data Management
3  Digital Manufacturing on Cloud ( DMC)
4                                 DevOps

## Let's search for relevant insight from dataset

In [ ]:
# number of columns and the likes
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34116 entries, 0 to 34115
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   RAW DATA  34116 non-null  object
dtypes: object(1)
memory usage: 266.7+ KB

In [ ]:
# checking for duplicates etc
data.describe(), skills_data.describe()
# from the info below, the dataset only contains 15677 unique values, the rest are duplicate

(       RAW DATA
 count     34116
 unique    15677
 top      Python
 freq        272,        Technology Skills
 count                979
 unique               897
 top          DEC - Other
 freq                   3)

## Data Wrangling

In [ ]:
# removing duplicate values
unique_data=pd.unique(data['RAW DATA'])
# unique_data
eg_data = pd.unique(skills_data['Technology Skills'])
# eg_data

In [ ]:
# converting data array to dataframe
df1 = pd.DataFrame(unique_data, columns =['raw_data'])
df2 = pd.DataFrame(eg_data, columns =['eg_data'])

df1.describe(), df2.describe()
# our new dataset now constant only unique values

(        raw_data
 count      15677
 unique     15677
 top     What ifs
 freq           1,                     eg_data
 count                   897
 unique                  897
 top     SAP Fiori Developer
 freq                      1)

### Having gotten all the unigue data in the raw dataset, let's get the technical skills from the rest

In [ ]:
# for index,row in df1.iterrows():
#   print(row['raw_data'])
#   break

# for index2,value in skills_data.iterrows():
#   print(value['Technology Skills'])
#   break

# skills_data['Technology Skills'].value_counts()
df2['eg_data'].value_counts()

SAP Fiori Developer                         1
Intrusion Prevention Systems (IPS)          1
Oracle Design Thinking                      1
Net Pay Validation                          1
Multi-Source Deliv (Vendors\Contractors)    1
                                           ..
SAP TM Freight Forwarder                    1
JDE Modules Functional Testing              1
HP - Cloud Computing                        1
Hyperion Strategic Fin. Performance Mgmt    1
Oracle ESB                                  1
Name: eg_data, Length: 897, dtype: int64

In [ ]:
df1.head

<bound method NDFrame.head of                                                    0
0                                           What ifs
1                                          seniority
2                                        familiarity
3                                    functionalities
4                                            Lambdas
...                                              ...
15672                           Leadership qualities
15673                                       Actalent
15674                                 all applicants
15675  Self-motivated, enthusiastic and strong drive
15676                                    negotiation

[15677 rows x 1 columns]>

In [ ]:
# Comparing the two dataframe to check and extract the match from the unigue dataset
# df1['prices_match'] = np.where(df1['price_1'] == df2['price_2'], 'True', 'False')
matched_data = []
for index1,row in df1.iterrows():
  # print(row)
  for index2,value in df2.iterrows():
    # print('tech skill:'+str(value['eg_data']))
    if str(value['eg_data']) == str(row['raw_data']):
      matched_data.append(row['raw_data'])
    # if index1 > 1:
    #   break

print(matched_data)

['MySQL', 'SCSS', 'EAC', 'DevOps', 'OpenShift', 'GitHub', 'NetSuite', 'Bitbucket', 'Ethereum', 'Kotlin', 'Bash', 'FTP', 'OneStream', 'Consul', 'Force.com', 'Amazon Lambda', 'Radius', 'Gulp', 'Guidewire PolicyCenter', 'Adobe Photoshop', 'Eclipse', 'Phantom', 'Magento', 'Microsoft Azure Networking', 'ActiveMQ', 'SAP Lumira', 'SAP Analytics Cloud', 'PostGIS', 'SAS JMP', 'NuGet', 'DRM', 'SAS Enterprise Guide', 'Katalon', 'Apache Oozie', 'Octopus Deploy', 'SAS Base']

In [ ]:
# https://colab.research.google.com/drive/1xajrEVespIv6lDK__IvQTeK2A40QE5AA?usp=sharing