In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('../../../datasets/food-traceability/FoodBalanceSheets_E_All_Data.csv',encoding = "ISO-8859-1")
df.head()

,Area Code,Area Code (M49),Area,Item Code,Item Code (FBS),Item,Element Code,Element,Unit,Y2010,...,Y2017,Y2017F,Y2018,Y2018F,Y2019,Y2019F,Y2020,Y2020F,Y2021,Y2021F
0,2,'004,Afghanistan,2501,'S2501,Population,511,Total Population - Both sexes,1000 No,28189.67,...,35643.42,X,36686.78,X,37769.50,X,38972.23,X,40099.46,X
1,2,'004,Afghanistan,2501,'S2501,Population,5301,Domestic supply quantity,1000 t,0.00,...,0.00,I,0.00,I,0.00,I,0.00,I,0.00,I
2,2,'004,Afghanistan,2901,'S2901,Grand Total,664,Food supply (kcal/capita/day),kcal/cap/d,2208.00,...,2311.00,E,2265.00,E,2228.00,E,2266.00,E,2198.00,E
3,2,'004,Afghanistan,2901,'S2901,Grand Total,661,Food supply (kcal),million Kcal,22714261.33,...,30065075.35,E,30333341.93,E,30720033.32,E,32233236.80,E,32169079.00,E
4,2,'004,Afghanistan,2901,'S2901,Grand Total,674,Protein supply quantity (g/capita/day),g/cap/d,65.76,...,65.42,E,62.94,E,60.98,E,63.35,E,60.70,E