In [1]:
import pandas as pd

In [15]:
fts5 = pd.read_csv('D:\\desktop files\\weka\\Datasets\\HAPT Data Set\\uci_4fts_selectors\\fts5.txt')

In [16]:
fts4 = pd.read_csv('D:\\desktop files\\weka\\Datasets\\HAPT Data Set\\uci_4fts_selectors\\fts4.txt')

In [17]:
fts3 = pd.read_csv('D:\\desktop files\\weka\\Datasets\\HAPT Data Set\\uci_4fts_selectors\\fts3.txt')

In [18]:
fts2 = pd.read_csv('D:\\desktop files\\weka\\Datasets\\HAPT Data Set\\uci_4fts_selectors\\fts2.txt')

In [19]:
fts1 = pd.read_csv('D:\\desktop files\\weka\\Datasets\\HAPT Data Set\\uci_4fts_selectors\\fts1.txt')

In [26]:
# fts5.columns = ['ft5']
fts4.columns = ['ft4']
fts3.columns = ['ft3']
fts2.columns = ['ft2']
fts1.columns = ['ft1']

In [41]:
fts2.head(1)

                                      ft2
0  @attribute fBodyAccJerk-ropy-2 numeric

In [44]:
# fts1 = fts1[['ft1']].rename(columns={'ft1':'ft'})
fts2 = fts2[['ft2']].rename(columns={'ft2':'ft'})
fts3 = fts3[['ft3']].rename(columns={'ft3':'ft'})
fts4 = fts4[['ft4']].rename(columns={'ft4':'ft'})
fts5 = fts5[['ft5']].rename(columns={'ft5':'ft'})

In [29]:
df = pd.concat([fts1, fts2,fts3,fts4,fts5],axis=1)

df = df.reset_index(drop=True)

df_gpby = df.groupby(list(df.columns))

idx = [x[0] for x in df_gpby.groups.values() if len(x) != 1]
df.reindex(idx)

Empty DataFrame
Columns: [ft1, ft2, ft3, ft4, ft5]
Index: []

In [47]:
df2 = pd.merge(fts1, fts2,fts3,fts4,fts5, how='inner', on=['ft'])

TypeError: merge() got multiple values for argument 'how'

In [48]:
from functools import reduce # python 3 only
import numpy as np

reduce(np.intersect1d, [fts1.ft, fts2.ft, fts3.ft,fts4.ft,fts5.ft])

array(['@attribute Activity ', '@attribute fBodyAcc-Mean-1 numeric',
       '@attribute fBodyAccJerkMag-Mad-1 numeric',
       '@attribute fBodyAccJerkMag-Mean-1 numeric',
       '@attribute fBodyAccJerkMag-SMA-1 numeric',
       '@attribute fBodyAccJerkMag-ropy-1 numeric',
       '@attribute tBodyAcc-Max-1 numeric',
       '@attribute tBodyAccJerk-IQR-1 numeric',
       '@attribute tBodyAccJerk-Mad-2 numeric',
       '@attribute tBodyAccJerk-STD-2 numeric',
       '@attribute tBodyAccJerkMag-STD-1 numeric',
       '@attribute tBodyAccJerkMag-ropy-1 numeric',
       '@attribute tBodyAccMag-Mean-1 numeric',
       '@attribute tBodyAccMag-SMA-1 numeric',
       '@attribute tGravityAccMag-Mean-1 numeric',
       '@attribute tGravityAccMag-SMA-1 numeric'], dtype=object)

In [49]:
list(reduce(set.intersection, map(set, [fts1.ft, fts2.ft, fts3.ft,fts4.ft,fts5.ft])))

['@attribute tGravityAccMag-SMA-1 numeric',
 '@attribute tBodyAccMag-SMA-1 numeric',
 '@attribute tBodyAccMag-Mean-1 numeric',
 '@attribute tBodyAccJerkMag-STD-1 numeric',
 '@attribute Activity ',
 '@attribute tBodyAcc-Max-1 numeric',
 '@attribute tBodyAccJerk-Mad-2 numeric',
 '@attribute fBodyAccJerkMag-Mad-1 numeric',
 '@attribute tGravityAccMag-Mean-1 numeric',
 '@attribute fBodyAccJerkMag-SMA-1 numeric',
 '@attribute fBodyAcc-Mean-1 numeric',
 '@attribute fBodyAccJerkMag-ropy-1 numeric',
 '@attribute tBodyAccJerk-STD-2 numeric',
 '@attribute tBodyAccJerk-IQR-1 numeric',
 '@attribute fBodyAccJerkMag-Mean-1 numeric',
 '@attribute tBodyAccJerkMag-ropy-1 numeric']