# Data Aggregation and Wrangling

In [1]:
import shutup; shutup.please()

In [2]:
import numpy as np
import pandas as pd

2023-05-11 12:07:00.858092: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-11 12:07:01.410982: I tensorflow/tsl/cuda/cudart_stub.cc:28] Could not find cuda drivers on your machine, GPU will not be used.
2023-05-11 12:07:01.412916: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-11 12:07:02.897665: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

## Concat height and tor to df

In [2]:
data_list = ['AGR-201','AGR-184','AGR-182','AGR-207','AGR-209','AGR-190','AGR-213','AGR-194']
 
height_list = [2.6,6.6,3.95,2.6,4.25,7.25,9.0,2.45]
height_list2 = [2.85,6.85,4.2,2.85,4.5,7.5,9.25,2.7]
t = [184,383,482,160,186,70,389,168]
for i in range(len(data_list)):
    # print(i)
    df = pd.read_csv('../../../datasets/dr-nubel/strain_stress/{}.csv'.format(data_list[i]))
    # create range of height base on given height range
    s = np.linspace(height_list[i],height_list2[i],len(df))
    s=pd.Series(s,name='height')
    # list of tor according to dataset lenght
    df_t = [t[i] for e in range(len(df))]
    df_t = pd.Series(df_t,name='tor')
    # concatenate dataframe and serires
    df = pd.concat([df,s,df_t],axis=1)
    df.to_csv('../../../datasets/dr-nubel/strain_stress_with_target/{}_.csv'.format(data_list[i]))
    # print(df)
df

      strain   stress    height  tor
0    -0.0149    0.428  2.450000  168
1     0.0003    1.925  2.450577  168
2     0.0005    3.209  2.451155  168
3     0.0007    4.279  2.451732  168
4     0.0010    5.562  2.452309  168
..       ...      ...       ...  ...
429  19.7470  302.808  2.697691  168
430  19.8442  302.269  2.698268  168
431  19.9040  301.839  2.698845  168
432  19.9564  301.623  2.699423  168
433  20.0012  301.621  2.700000  168

[434 rows x 4 columns]

In [3]:
df.head(2)

   strain  stress    height  tor
0 -0.0149   0.428  2.450000  168
1  0.0003   1.925  2.450577  168

In [4]:
df_lens = [182,140,152,444,407,183,423,434]

## Aggregate df

In [5]:
data_list = ['AGR-201','AGR-184','AGR-182','AGR-207','AGR-209','AGR-190','AGR-213','AGR-194']
 
for i in range(len(data_list)):
    # print(i)
    if i == 0:
        df = pd.read_csv('../../../datasets/dr-nubel/strain_stress_with_target/{}_.csv'.format(data_list[i]))
    else:
        df1 = pd.read_csv('../../../datasets/dr-nubel/strain_stress_with_target/{}_.csv'.format(data_list[i]))
        df = pd.concat([df,df1],axis=0,ignore_index=True).drop(['Unnamed: 0'],axis=1)
    print(len(df))
    
df.to_csv('../../../datasets/dr-nubel/strain_stress_with_target/full_strain_stress_data.csv',index=False)

182
322
474
918
1325
1508
1931
2365

In [6]:
df

       strain   stress    height  tor
0     -0.0135    0.630  2.600000  184
1      0.0272    2.311  2.601381  184
2      0.0679    4.201  2.602762  184
3      0.1356    6.301  2.604144  184
4      0.1899    8.402  2.605525  184
...       ...      ...       ...  ...
2360  19.7470  302.808  2.697691  168
2361  19.8442  302.269  2.698268  168
2362  19.9040  301.839  2.698845  168
2363  19.9564  301.623  2.699423  168
2364  20.0012  301.621  2.700000  168

[2365 rows x 4 columns]